/*************************************************mode téléphone*************************************/
/**{
border:1px solid red;
}*/
body{
  margin:0%;
}

.pc, .tab{
  display: none;
}

/*header*/
/***************debut de "en commun"************************/
button, h1,{
  margin: auto;
}

button, nav{
  margin-top:50px;
}

main, h1, button{
  margin-left: 24px;
}

header, nav, .gallery{
  width: 100%;
}

button, nav{
  margin-top:50px;
}
nav, .gallery, figure{
  margin-left: 0%;
}
/*******************fin de "en commun"*********************/

h1{
  font-size: 20px;
  list-style: 30px;
  margin-top: 20px;
  width: 80%;
  color: #484848;
}

.titre{
  color: #ff5a5f;
}

a{
text-decoration: none;
color: #747474;
margin:5px;
}

header img{
  margin:10px;
  width:38px;
  height:34px;
}


button{
  width:310px;
  height:45px;
  background-color: #ffffff;
  border:1px solid #DBDBDB;
  border-radius:4px;
  box-shadow: 1px 1px 3px #DBDBDB;
  font-size: 18px;
}

nav{
  border-bottom: 1px solid #f4f4f4;
  box-shadow: 1px 1px 3px #f4f4f4;
  width:100%;
  font-size:12px;
  overflow-x: scroll;

  font-weight: bold;
  text-transform: uppercase;
}
 .color{
   color:#008489;
 }
/***************************************reservées à l'instant**************************/
.gallery{
  display: flex;
  flex-flow:nowrap;
  justify-content:space-between;
  overflow-x: scroll;
}
