/*************************************************mode téléphone*************************************/
/**{
border:1px solid red;
}*/
/***************debut de "en commun"************************/
body{
  margin:0%;
  font-family: karla sans-serif;
  color: #484848;
}

nav i{
  vertical-align: text-top;
  margin:15px;
}

.recherche, nav, .choix{
  margin-top:50px;
}

main, h1, .recherche, .tablette, footer{
  margin-left:5%;
}

header, nav, .gallery{
  width: 100%;
}

.recherche, nav{
  margin-top:50px;
}

.estimer-revenu, .recherche, .langues, .devis, .tablette{
  border-radius:4px;
  border-style: none;
  border:1px solid #DBDBDB;
}

.langues, .devis, .recherche, .tablette{
border:1px solid #DBDBDB;
}

nav, .gallery, figure{
  margin-left: 0%;
}

h1, .prix{
  color: #484848;
}

ul{
  list-style: none;
}

footer, .bas{
  border-top:1px solid #DBDBDB;
}
/*******************fin de "en commun"*********************/

.pc, .tab, .airbnb, .decouvrir, .hebergement{
  display: none;
}

/**********************header***********************/
h1{
  font-size: 20px;
  list-style: 30px;
  margin-top: 20px;
  width: 80%;
}

.titre{
  color: #ff5a5f;
}

a{
  text-decoration: none;
  color: #747474;
  margin:5px;
}

header img{
  margin:10px;
  width:38px;
  height:34px;
}


.recherche{
  width:310px;
  height:45px;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px #DBDBDB;
  font-size: 18px;
}

nav{
  display: flex;
  flex-flow: nowrap;
  border-bottom: 2px solid #f4f4f4;
  box-shadow: 1px 1px 3px #f4f4f4;
  font-size:12px;
  overflow-x: scroll;
  font-weight: bold;
  text-transform: uppercase;
}

.recommande{
  color:#008489;
  text-decoration:underline;
}
/***************************************debut des galleries**************************/
.gallery{
  display: flex;
  flex-flow:nowrap;
  justify-content:space-between;
  overflow-x: scroll;
}

.prix{
  font-weight: bold;
}

.etoile i{
  font-size:12px;
  color:#00A699;
}
/*************************************fin des galleries**************************/


/****************************************debut estimer***************************/
.estimer{
  display: flex;
  flex-flow: column-reverse;

}

.estimer img{
  position: relative;
  right:24px;
}

.revenu{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 260px;
}

.estimer-revenu{
  color: white;
  background-color: #008489;
  width:180px;
  height:35px;
}
/*****************************************fin estimer****************************/


/********************************************debut footer***********************/
footer{
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.langues, .devis{
  width:170px;
  height: 60px;
  background-color: white;
  text-align:left;
  font-size:19px;
  line-height: 24px;
  overflow: hidden;
}


.icon{
  width:20px;
  height:15px;
}

.bas{
display: flex;
margin-top:30px;
flex-flow: column;

}

.gauche{
  display: flex;
  align-items: center;
}

.bas ul{
  display: flex;
  flex-flow: row wrap;
}




/*******************************mode tablette**********************
********************************************************************/



@media screen and (min-width:768px){

.pc, .tel, .recherche{
   display: none;
}

.tab, .airbnb, .decouvrir, .hebergement{
  display: block;
}

h1{
  font-size: 38px;
  line-height: 56px;
}

.tablette{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  height: 50px;
}

.tablette a{
  display: flex;
  align-items: center;
  height:100%;
}

.tablette a:nth-child(2){
  padding-left:25px;
  padding-right:25px;
  border-left:1px solid #DBDBDB;
  border-right: 1px solid #DBDBDB;
}

.tablette a:nth-child(3){

}

.estimer{
  flex-flow: nowrap;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.revenu{
  width:60%;
}

footer{
  padding-top:10%;
  margin-top: 5%;
  width:100%;
}

.haut{
  display: flex;
  flex-flow: row;
  align-items: stretch;
}

.choix {
 margin-top: 0;
}

.choix .devis{
  display: flex;
  flex-flow: column;
  margin:5% auto;
  vertical-align: text-top;
}

.decouvrir ul, .hebergement ul, .airbnb ul{
  display: flex;
  flex-flow:column;
  line-height: 18px;
  justify-content:space-between;
  margin-left:10%;
  margin-top: 0;
}

.bas{
  display: flex;
  flex-flow:row;
  justify-content: space-between;
  width: 100%
}

.droite{
  margin-right: 0%;
  width:60%;
}

.bas li{
  display: flex;
  flex-flow:nowrap;
  justify-content:space-around;
  align-content: space-around;
}
}


/***************************************************mode pc********************************/
/***********************************************************************************/


@media screen and (min-width:1280px){

.tab, .tablette, .tel{
   display: none;
}

.pc{
  display:block;
}

header{
  display: flex;
  flex-flow:column;
  justify-content: space-between;
}

.accueil{
  display: flex;
  flex-flow: row;
}

.home{
  width:35%;
  margin-top:0%;
  margin-left:60%;
  border:none;
  box-shadow:none;
}

.menu{
  display: flex;
  flex-flow: row nowrap;
  margin-left:auto;
  overflow: hidden;
}

nav, .gallery{
  overflow: hidden;
}

header .navigation{
  display: flex;
  flex-flow: row nowrap;
  height: 70px;
  width: 90%;
  margin-left:5%;
  border: 1px solid #DBDBDB;
  border-radius:5px;
}

.info{
  width: 40%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  margin-left:2%;
  margin-top:8%;
  height: 100%;
}

h1{
  width: 50%;
  font-size: 35px;
  padding-top: 15%;
}


input{
  width:50%;
  font-size: 20px;
  border-style: none;
  padding: 10% 0% 10% 0%;
}

.info:nth-child(2){
  border-left: 1px solid #DBDBDB;
  border-right: 1px solid #DBDBDB;
  padding-left:3%;
  width:40%;
}

.info button{
 background-color: #ff5A5F;
 color: white;
 margin-top:15%;
 padding:20% 5% 20% 5%;
 width: 45%;
 border-style: none;
 border-radius:4px;
}

}
